input[type="text"],
.form-control {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 0;
    font-size: 1.1em;
}

sup {
    font-size: 1em;
}

.signature-section {
    background-color: #fcfcfc;
    border: 4px solid #e5e5e5;
    color: #333333;
    padding: 15px 20px;
    font-family: arial, sans-serif;
}
